.advice-quote {
    font-weight: 400;
    font-size: 13px;
    color: #2c2c2c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background-color: #ffffff;
    padding: 2px 2px 2px 2px;
    margin-bottom: 6px;
}

.advice-category {
    font-size: 16px;
    color: #484848;
}

.advice-date {
    font-size: 14px;
    float: right;
}

.related-reading {
    font-size: 12px;
}

.blackboard {
    overflow:auto;
    background-color: #bbbbbb;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    border-color: #d4ac6e;
    border-width: 2px;
}

.first-letter {
  font-size: 18px;
  line-height: 20px;
}

.advice-author, .advice-author:visited {
    color: inherit;
}

.chinese-calligraphy {
    /* font-family: 'Hiragino Kaku Gothic Pro' */
    font-size: 16.5px;
    font-family: 'Zhi Mang Xing', cursive;
}

.d-hide {
    display: none;
}
