/* Make sure abstract does not disply by default*/
.abstract{
	font-family: "Gill Sans", sans-serif;
    display:none;
}

.bibtex{
	font-family: "Gill Sans", sans-serif;
    display:none;
}

.publication{
	width:100%;
	margin-bottom: 20px;
}

.details-panel {
  min-width: 72px;
  margin: 2px;
  padding: 2px;
  font-size: 12px;
}

.details-panel ul {
  margin: 0px;
  border: 0px;
  padding: 2px;
  font-size: 12px;
}

.details-panel li {
  margin: 0px;
  border: 0px;
  padding: 2px;
  font-size: 12px;
}

.btn-pub {
  border-color: #BEBEBE;
}

.links {
  margin-left: 0px;
  margin-top: 6px;
}