/* Make sure abstract does not disply by default*/
.abstract{
	font-family: "Gill Sans", sans-serif;
    display:none;
}

.bibtex{
	font-family: "Gill Sans", sans-serif;
    display:none;
}

.publication{
	width:100%;
	margin-bottom: 30px;
}

.news >ul{
    font-size: 14px;
}