/* d3 */

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.links path {
    fill: none;
    stroke: #d4ac6e;
    stroke-opacity: 0.6;
}

/* main page */

.db-select {
    margin-top: 20px;
    width: 120px;
}